In [62]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

In [77]:
statecov = pd.read_csv('us-states.csv', parse_dates=["date"])
statecov = statecov.groupby(['state','date']).sum().drop('fips',axis=1).reset_index()
statecov0 = statecov[statecov['date']=='2020-03-31'].reset_index(drop=True)
statecov1 = statecov[statecov['date']=='2020-04-03'].reset_index(drop=True)
statelatlong = pd.read_csv('statelatlong.csv')
statelatlong = statelatlong.drop('State', axis=1).rename({'City':'state'}, axis=1)



bubbledata0 = statelatlong.merge(statecov0[['state','cases']], how = 'left', on = 'state')
bubbledata1 = statelatlong.merge(statecov1[['state','cases']], how = 'left', on = 'state')

plt.style.use('seaborn')
plt.scatter(bubbledata['Latitude'], bubbledata['Longitude'], s=bubbledata['cases']/10, c='red', alpha=0.5,linewidth=1)
plt.title('{} case number by state location'.format(str(statecov.date[0].date())[:10]),fontsize=20)
plt.savefig('{}_bubble_plot.png'.format(str(statecov.date[0])[:10]), dpi=96)
plt.clf()

In [81]:
bubbledata1

     Latitude   Longitude                 state   cases
0   32.601011  -86.680736               Alabama    1535
1   61.302501 -158.775020                Alaska     156
2   34.168219 -111.930907               Arizona    1769
3   34.751928  -92.131378              Arkansas     738
4   37.271875 -119.270415            California   12569
5   38.997934 -105.550567              Colorado    4182
6   41.518784  -72.757507           Connecticut    4915
7   39.145251  -75.418921              Delaware     450
8   38.899349  -77.014567  District of Columbia     757
9   27.975728  -83.833017               Florida   10260
10  32.678125  -83.222976               Georgia    5967
11  20.460000 -157.505000                Hawaii     317
12  45.494576 -114.142430                 Idaho    1013
13  39.739318  -89.504139              Illinois    8904
14  39.766219  -86.441277               Indiana    3437
15  41.938317  -93.389798                  Iowa     699
16  38.498779  -98.320078                Kansas     624
17  37.822294  -85.768240              Kentucky     770
18  30.973377  -91.429910             Louisiana   10297
19  45.218513  -69.014866                 Maine     432
20  38.806352  -77.268416              Maryland    2758
21  42.062940  -71.718067         Massachusetts   10402
22  44.943560  -86.415805              Michigan   12670
23  46.441859  -93.365515             Minnesota     789
24  32.585106  -89.877220           Mississippi    1358
25  38.304662  -92.437099              Missouri    2113
26  46.679800 -110.044783               Montana     262
27  41.500819  -99.680902              Nebraska     296
28  38.502032 -117.023060                Nevada    1549
29  44.001231  -71.579923         New Hampshire     540
30  40.143006  -74.731116            New Jersey   29895
31  34.166232 -106.026069            New Mexico     495
32  40.705626  -73.979680              New York  102870
33  35.214563  -79.891267        North Carolina    2093
34  47.467882 -100.302266          North Dakota     173
35  40.190362  -82.669252                  Ohio    3312
36  35.309765  -98.716558              Oklahoma     988
37  44.141905 -120.538099                Oregon     899
38  40.994593  -77.604698          Pennsylvania    8420
39  41.582728  -71.506451          Rhode Island     711
40  33.625050  -80.947038        South Carolina    1700
41  44.212699 -100.247164          South Dakota     187
42  35.830521  -85.978599             Tennessee    3032
43  31.169336 -100.076842                 Texas    5669
44  39.499761 -111.547028                  Utah    1260
45  43.871755  -72.447783               Vermont     389
46  38.003386  -79.458786              Virginia    2012
47  38.899349  -77.014567            Washington    6966
48  38.920171  -80.181691         West Virginia     242
49  44.786297  -89.826705             Wisconsin    1916
50  43.000325 -107.554567               Wyoming     166

In [78]:
# Find states listed in cov19 data that are not contained in geographic data
statecov.state[~statecov.state.isin(statelatlong.state)]

428                         Guam
429                         Guam
430                         Guam
431                         Guam
432                         Guam
433                         Guam
434                         Guam
435                         Guam
436                         Guam
437                         Guam
438                         Guam
439                         Guam
440                         Guam
441                         Guam
442                         Guam
443                         Guam
444                         Guam
445                         Guam
446                         Guam
447                         Guam
448                         Guam
449                         Guam
450                         Guam
451                         Guam
1308    Northern Mariana Islands
1309    Northern Mariana Islands
1310    Northern Mariana Islands
1311    Northern Mariana Islands
1312    Northern Mariana Islands
1313    Northern Mariana Islands
                  ...
1476                 Puerto Rico
1477                 Puerto Rico
1478                 Puerto Rico
1479                 Puerto Rico
1480                 Puerto Rico
1746              Virgin Islands
1747              Virgin Islands
1748              Virgin Islands
1749              Virgin Islands
1750              Virgin Islands
1751              Virgin Islands
1752              Virgin Islands
1753              Virgin Islands
1754              Virgin Islands
1755              Virgin Islands
1756              Virgin Islands
1757              Virgin Islands
1758              Virgin Islands
1759              Virgin Islands
1760              Virgin Islands
1761              Virgin Islands
1762              Virgin Islands
1763              Virgin Islands
1764              Virgin Islands
1765              Virgin Islands
1766              Virgin Islands
1767              Virgin Islands
1768              Virgin Islands
1769              Virgin Islands
1770              Virgin Islands
Name: state, Length: 86, dtype: object

In [84]:
fig, axs = plt.subplots(2, sharex=True, sharey=True ,figsize=(8,16))
axs[0].set_title('{} case number by state location'.format(str(statecov0.date[0].date())[:10]),fontsize=20)
axs[1].set_title('{} case number by state location'.format(str(statecov1.date[0].date())[:10]),fontsize=20)
axs[0].scatter(bubbledata0['Latitude'], bubbledata0['Longitude'], s=bubbledata0['cases']/10, c='red', alpha=0.5,linewidth=1)
axs[1].scatter(bubbledata1['Latitude'], bubbledata1['Longitude'], s=bubbledata1['cases']/10, c='red', alpha=0.5,linewidth=1)
plt.savefig('bubble_plot.png', dpi=96)
plt.clf()